body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

.highlight {
    color: orangered;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: white;
    margin: 10px 20px;
}

.container {
    margin-top: 40px;
}

@media (max-width: 768px) {
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
}

header .navbar {
    padding: 20px;
}

#logocolor {
    color: coral;
}

header a:hover {
    color: #aaaaaa;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background: url("img/컴퓨터_프로그래밍_언어.jpg") no-repeat center center/cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 20px;
}

#html img,
#css img,
#bootstrap img,
#tailwind img {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s;
}

#html img:hover,
#css img:hover,
#bootstrap img:hover,
#tailwind img:hover {
    transform: scale(1.05);
}

#html img {
    max-width: 250px;
}

#css img {
    max-width: 170px;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: white;
    background-color: #35424a;
    margin-top: 40px;
}

.team-container {
    display: flex;
    flex-direction: column;
    margin: 20px 15px 0;
}

.team-container > div {
    background-color: #f1f1f1;
    margin: 15px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.about_container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding-top: 50px;
    text-align: center;
    border-bottom: deepskyblue 5px solid;
}

.about-content {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: deepskyblue 3px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

ul#service li {
    list-style: none;
    padding: 20px;
    border: 2px solid #ccccccd6;
    background-color: #e6e6e6;
    margin-bottom: 5px;
}

#screen {
    width: 800px;
    height: 600px;
    text-align: center;
    user-select: none;
    margin-left: 200px;
    margin-top: 150px;
}

#screen.waiting {
    background-color: aqua;
}

#screen.ready {
    background-color: red;
    color: white;
}

#screen.now {
    background-color: greenyellow;
}
